* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

body {
	width: 100%;
	background: black;
	color: white;
	overflow-x: hidden;
}


img {
	width: 100%;
}


/* ------- Navigation Bar ------- */

.logo {
	width: 200px;
	min-width: 175px;
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 5px;
	float: left;
}

.nav {
	background-color: #333333;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 80px;
	font-size: 20 px;
	font-weight: bold;
	z-index: 2;
}

.nav a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 25px 15px;
}

.main-links {
	display: inline-block;					/*	 Home, Community, Manga, Search Users, Search Titles	*/
	line-height: 80px;
}

.nav a:hover {
	color: purple;
}


#bell {
	display: block;
	position: absolute;						/*	 Notification Bell Div	*/
	right: 250px;
	top: 15px;
}

/*	----  Notification Bell Styling	---- */

.icon-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	color: #333333;
	background: #dddddd;
	border: none;
	outline: none;
	border-radius: 50%;
}

.icon-button:hover {
	cursor: pointer;
	background: plum;
}

.icon-button:active {
	background: #cccccc;
}

.icon-button__badge {
	position: absolute;
	top: 0px;
	right: -10px;
	width: 25px;
	height: 25px;
	background: purple;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.hide {
	visibility: hidden;
}


	/*	----  Notifications Box	---- */

#notification-items {
	visibility: hidden;
	position: absolute;
	right: 0px;
	top: 55px;
	background-color: #333333;
	width: 400px;
	height: 300px;
	max-height: 500px;
	display: block;
	border-radius: 10px;
	overflow-y: scroll;
	transition: visibility 0s .5s, opacity .5s ease-in;
}

#notification-items::-webkit-scrollbar {
	width: 0;												/* Hide scrollbar, but still can scroll! */
}

.notification {
	background: silver;
	height: fit-content;
	max-height: 100px;
	margin: 20px;
	text-align: center;
	word-wrap: break-word;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.notification-img {
	height: 50px;
	width: fit-content;
	margin: auto;
	border-radius: 50%;
	padding: 5px;
}

.notification p {
	margin: auto;
	margin-left: -10px;
	width: 70%;
	padding: 5px;
	color: rgb(109, 113, 208)
}

.account ul {
	list-style-type: none;
	margin: 0;										/* Dropdown */
	padding: 0;
	background: #333333;
}

.account li {
	display: inline-block;
}

.account li a {
	color: white;
	display: block;
	text-decoration: none;
}


.account ul ul {
	position: absolute;
	top: 100%;
	display: none;
}

.account ul ul li {
	display: block;
}

.account li:hover ul {
	display: block;
}

.account ul ul li a:hover {
	background-color: #555;					/* Change the background color of dropdown links on hover */
}

.main-links {
	float: left;
}

.account {
	float: right;
	margin-right: 10px;
	width: 200px;
}

/* ------- All content  ------- */

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	border: none;
	overflow-x: hidden;
}

/* ------- Left side banner  ------- */

.leftImage {
	width: 20%;
	position: fixed;
	bottom: 1%;
	left: 3%;
	overflow-x: hidden;

}

/* ------- Right side banner  ------- */

.rightImage {
	width: 30%;
	position: fixed;
	right: 0%;
	top: 8%;
	overflow-x: hidden;

}


/* ------- Mid-Section Content (In Order of Appearance)  ------- */

/* ---- Mid-Section Div  ---- */

.main {
	background: black;
	width: 60%;
	margin: auto;
	top: -5%;
	z-index: 1;
	overflow-x: hidden;

}

.main h2 {
	margin-left: 20px;
	margin-top: 10px;
	text-transform: capitalize;
	font-weight: bold;
}

/* ---- Slideshow Banner  ---- */

.slideshow-section {
	height: fit-content;
	display: flex;
	justify-content: center;
	/* --- Slideshow container --- */
	align-items: center;
	background: black;
	z-index: 2;
	margin: 0;
	width: 100%;
	overflow-x: hidden;

}

.slider {
	position: relative;
	background: black;
	height: fit-content;
	width: 100%;
	z-index: 3;
	margin-bottom: 50px;
}

.myslide {
	max-height: 600px;
	width: 100%;
	display: none;
	overflow: hidden;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}

.prev:hover,
.next:hover {
	color: purple;
}

.next {
	right: 0;
}

.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}

.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.active,
.dot:hover {
	border-color: plum;
	/* blue */
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

.txt {
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 20px;
	top: 65%;
	left: 10%;
	-webkit-animation-name: posi;
	-webkit-animation-duration: 2s;
	animation-name: posi;
	animation-duration: 2s;
	z-index: 1;
	width: 500px;
}

@-webkit-keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 10%;
	}
}


@keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 10%;
	}
}

.txt h1 {
	color: white;
	font-size: 35px;
	margin-bottom: 20px;
}

.txt p {
	font-weight: bold;
	font-size: 20px;
}

.slider img {
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 30s;
	animation-name: zoomin;
	animation-duration: 30s;
}

@-webkit-keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.3, 1.3);
	}
}


@keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.3, 1.3);
	}
}

@media screen and (max-width: 1366px) {

	.myslide {
		height: fit-content;
	}

	.txt {
		letter-spacing: 2px;
		line-height: 25px;
		top: 70%;
		left: 45%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
		width: 500px;
	}

	.dot {
		width: 8px;
		height: 8px;
	}

	@-webkit-keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 70%;
		}
	}


	@keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 70%;
		}
	}

	.txt h1 {
		font-size: 25px;
	}

	.txt p {
		font-size: 13px;
	}

}

@media screen and (max-width: 1080px) {

	.myslide {
		height: fit-content;
	}

	.txt {
		letter-spacing: 2px;
		line-height: 10px;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
		width: 500px;
	}

	.dot {
		width: 8px;
		height: 8px;
	}

	@-webkit-keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 70%;
		}
	}


	@keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 70%;
		}
	}

	.txt h1 {
		font-size: 20px;
	}

	.txt p {
		font-size: 13px;
	}

}

@media screen and (max-width: 900px) {

	.myslide {
		height: fit-content;
	}

	.txt {
		letter-spacing: 2px;
		line-height: 10px;
		top: 70%;
		left: 60%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
		width: 500px;
	}

	.dot {
		width: 5px;
		height: 5px;
	}

	@-webkit-keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 70%;
		}
	}


	@keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 70%;
		}
	}

	.txt h1 {
		font-size: 18px;
	}

	.txt p {
		font-size: 13px;
	}

}

@media screen and (max-width: 520px) {
	.txt h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.sign {
		margin-right: 20px;
	}

	.sign a {
		font-size: 12px;
	}
}


/* ---- Popular Titles, Seasonal Titles, Suggested Titles Section  ---- */

h2 {
	width: 100%;
	margin-bottom: 0;
	margin-top: 50px;
	margin-left: 50px;
}

hr {
	background-color: purple;
	height: 3px;
	border: none;
	width: 97%;
	margin-top: 20px;
}

.container {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	padding-top: 10px;
}

.anime-container {
	height: 300px;
	width: 90%;
	margin: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: center;
}

/* ---- Anime Posters ---- */


.anime-poster {
	height: 325px;
	width: 150px;
	text-align: center;
	align-items: center;
	position: relative;
	animation: fadeInLeft ease 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.anime-poster:hover {
	zoom: 101%;
}

.anime-poster img {
	width: 100%;
}

.anime-poster h5 {
	padding: 2px auto;
	margin: 5px;
	text-transform: uppercase;
}

/* ---- Arrow Styling ---- */

.button-outline-left {
	height: 300px;
	width: 30px;
	z-index: 6;
	padding-top: 110px;
	text-align: center;
	margin-top: 15px;
	margin-left: 15px;
}

.button-outline-right {
	height: 300px;
	width: 30px;
	z-index: 6;
	padding-top: 110px;
	text-align: center;
	margin-top: 15px;
	margin-right: 15px;
}

.fa-arrow-left {
	margin: auto;
	height: fit-content;
	cursor: pointer;
}

.fa-arrow-right {
	margin: auto;
	height: fit-content;
	cursor: pointer;
}