* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: black;
    color: white;
    overflow-x: hidden;
}

img {
    width: 100%;
}


/* ------- Navigation Bar ------- */

.logo {
    width: 200px;
    min-width: 175px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 5px;
    float: left;
}

.nav {
    background-color: #333333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    font-size: 20 px;
    font-weight: bold;
    z-index: 2;
}

.nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 15px;
}

.main-links {
    display: inline-block;
    line-height: 80px;

}

.nav a:hover {
    color: purple;
}



.account ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #333333;
}

.account li {
    display: inline-block;
}

.account li a {
    color: white;
    display: block;
    text-decoration: none;
}

/* Style the dropdown menu */
.account ul ul {
    position: absolute;
    top: 100%;
    display: none;
}

.account ul ul li {
    display: block;
}

.account li:hover ul {
    display: block;
}

/* Change the background color of dropdown links on hover */
.account ul ul li a:hover {
    background-color: #555;
}


.main-links {
    float: left;
}

.account {
    float: right;
    margin-right: 10px;
    width: 150px;
}


/* ------- All content  ------- */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    border: none;
}

/* ------- Left side banner  ------- */

.leftImage {
    width: 20%;
    position: fixed;
    bottom: 1%;
    left: 3%;
}

/* ------- Right side banner  ------- */

.rightImage {
    width: 30%;
    position: fixed;
    right: 0%;
    top: 8%;
}


/* ------- Mid-Section Content  ------- */

/* ---- Mid-Section Div  ---- */

.main {
    background: silver;
    width: 60%;
    height: max-content;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pikachu {
    width: 400px;
    height: inherit;
    margin-right: -30px;
    margin-top: auto;
    z-index: 1;
}

#snorlax {
    width: 500px;
    height: inherit;
    margin-left: -40px;
    transform: scaleX(-1);
    z-index: 2;
    margin-top: auto;
}

/* ------Signup boxed------*/

.Signup {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -650px;
    cursor: pointer;
}

.Login {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -650px;
    cursor: pointer;
}

.container-1 {
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    z-index: 2;
    background: silver;
}

.container-1 h1 {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.container-1 form {
    margin-top: 30px;
}

form .form-group {
    margin-top: 5px;
    margin-bottom: 20px;
}

form .input-field-1 {
    position: relative;
    height: 55px;
    width: 100%;
    margin-top: 20px;
}

.input-field-1 input {
    height: 100%;
    width: 80%;
    outline: none;
    border: white;
    border-radius: 8px;
    padding: 0 15px;
    border: 2px solid purple;
}

.input-field-1 i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field-1 input:is(:focus, :valid)~i {
    color: #000000;
}

.input-field-1 i.icon {
    left: 0;
}

.input-field-1 i.showHidePw {
    right: 10px;
    cursor: pointer;
    padding: 10px;
}

.invalid input {
    border-color: #d93025;
}


.container-2 {
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    background-color: gray;
}

.container-2 h2 {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.container-2 form {
    margin-top: 30px;
}

form .form-group {
    margin-bottom: 20px;
}

form .input-field-2 {
    position: relative;
    height: 55px;
    width: 100%;
}

.input-field-2 input {
    height: 100%;
    width: 80%;
    outline: none;
    border: white;
    border-radius: 8px;
    padding: 0 15px;
    border: 2px solid purple;
}

.input-field-2 i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field-2 input:is(:focus, :valid)~i {
    color: #000000;
}

.input-field-2 i.icon {
    left: 0;
}

.input-field-2 i.showHidePw {
    right: 10px;
    cursor: pointer;
    padding: 10px;
}

.form .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}

.login-password {
    margin-top: 5px;
    margin-bottom: 20px;
}


.create-password .error {
    align-items: flex-start;
}

.button input {
    color: #fff;
    font-size: 16px;
    font-weight: 650;
    background-color: purple;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #c200c2;
}

#signup-main {
    background: gray;
}
