* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


body {
    background: #151515;  /* fallback for old browsers */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

img {
    width: 100%;
}

/* ------- Navigation Bar ------- */

.logo {
    width: 8%;
    min-width: 8%;
    float: left;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 5px;
}

.nav {
    background-color: #333333;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

.nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 15px;
    display: inline-block;
}

.nav a:hover {
    color: purple;
}

.main-links {
    float: left;
}

.account {
    float: right;
    margin-right: 30px;
}

/* ------- Main Content  ------- */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;                    
    height: 100%;
    padding-top: 100px;
    border: none;
}

/* ------- Left side banner  ------- */

.leftImage {
    width: 20%;
    position: fixed;                        /* Currently Zenitsu from Demon Slayer. May change it to something else! */
    bottom: 1%;                     
    left: 3%;
}

/* ------- Right side banner  ------- */

.rightImage {
    width: 30%;
    position: fixed;                        /* Currently Tanjiro from Demon Slayer. May also change it to something else! */
    right: 0%;
    top: 8%;
}

/* ------------- Search Bar -------------- */

#search-form {
    width: 60vw;
    max-height: 100px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 4%;
    padding-top: 5px;
}

#search-bar {
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #0a0707;
    width: 250px;
    margin: auto;
    text-align: center;
}

#search-bar:focus {
    outline: none;
}


.button-85 { /*//https://getcssscan.com/css-buttons-examples*/
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: purple;
    left: 0;
    top: 0;
    border-radius: 10px;
}





/* ------- Center Div, Holds All Search Content  ------- */

.main {
    background: transparent;
    color: white;
    width: 60%;                       
    margin: auto;
    top: -5%;
    z-index: 1;
    position: relative;
}

.main h2 {
    margin-left: 20px;
    margin-top: 10px;                   
    text-transform: capitalize;
    font-weight: bold;
}

.search-div {
    margin: auto;
    text-align: center;
    width: fit-content;                 /* Holds Search Bar, Search Button, and the "Search for Users" header." */
    padding-bottom: 20px;
}

.profile-content {
    background: blue;
}

.display-name {
    margin-left: 50px;
    padding: 0;
}

hr {
    background-color: purple;
    height: 3px;                                /* Horizontal line and style */
    border: none;
    width: 95%;
}

.image-box {
    width: 20%;
    margin: 50px;
    display: inline-block;
}

.user-info {
    border: 2px double silver;
    background: purple;
    border-radius: 10px;;
    width: 60%;
    height: fit-content;
    position: absolute;
    display: inline-block;
    margin: 50px 30px;
    padding: 5px;
}

.user-info ul {
    list-style: none;
}

.user-info p {
    margin: 30px;
}

.bottom-half {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;;
}

.favorite-list {
    border: 2px double purple;
    width: 40%;
    margin: auto;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.favorite-list h4 {
    text-align: center;
}

.reviews {
    border: 2px double purple;
    width: 40%;
    height: inherit;
    margin: auto;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
}

.review-button {
    background: purple;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 20px;
}





