
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

body {
    width: 100%;
    background: black;
    color: white;
	overflow-x: hidden;
}

img {
    width: 100%;
}


/* ------- Navigation Bar ------- */

.logo {
	width: 200px;
	min-width: 175px;
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 5px;
	float: left;
}

.nav {
	background-color: #333333;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 80px;
	font-size: 20 px;
	font-weight: bold;
	z-index: 2;
}

.nav a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 25px 15px;
}

.main-links {
	display: inline-block;
	line-height: 80px;
}

.nav a:hover {
	color: purple;
}

#bell {
	display: inline-block;
	line-height: 80px;
	width: 50px;
	height: 50px;
	margin-right: auto;
	padding-top: 10px;
	padding-right: 50px;
}

.icon-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	color: #333333;
	background: #dddddd;
	border: none;
	outline: none;
	border-radius: 50%;
}

.icon-button:hover {
	cursor: pointer;
}

.icon-button:active {
	background: #cccccc;
}

.icon-button__badge {
	position: absolute;
	top: 0px;
	right: -10px;
	width: 25px;
	height: 25px;
	background: red;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.hide {
	visibility: hidden;
}


.account ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #333333;
}

.account li {
	display: inline-block;
}

.account li a {
	color: white;
	display: block;
	text-decoration: none;
}

/* Style the dropdown menu */
.account ul ul {
	position: absolute;
	top: 100%;
	display: none;
}

.account ul ul li {
	display: block;
}

.account li:hover ul {
	display: block;
}


.account ul ul li a:hover {
	background-color: #555;                                     /* Change the background color of dropdown links on hover */
}


.main-links {
	float: left;
}

.account {
	float: right;
	margin-right: 10px;
	width: 200px;
}


/* ------- Main Content  ------- */

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    border: none;
}

/* ------- Left side banner  ------- */

.leftImage {
    width: 30%;
    position: fixed;                                        /* Currently Sakura */
    top: 3%;
    left: 1px;
    transform: scaleX(-1);
}

/* ------- Right side banner  ------- */

.rightImage {
    width: 30%;
    position: fixed;                                        /* Currently Sakura Flower*/
    right: -4%;
    bottom: 3%;
    z-index: 2;
}

/* ------- Center Div, Holds All Search Content  ------- */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    border: none;
}

.main {
    margin: auto;
    top: -5%;
    z-index: 1;
    font-size: 12px;
    width: 60%;
    background-color: black;
}

.main h2 {
    margin-left: 20px;
    margin-top: 10px;
    /* Currently "Search For Anime" */
    text-transform: capitalize;
    font-weight: bold;
}

#search-form {
    width: 100%;
    margin: auto;                                    /* Contains Search Bar and Buttons */
    padding-top: 5px;
}

.search-bar-button {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

label {
    margin-bottom: 5px;
}


#search-bar {
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #0a0707;
    width: 250px;
}

#search-bar:focus {
    outline: none;
}

#kero {
    position: absolute;
    width: auto;
    height: 130px;
    background-image: url(css/Kero1.png);
    background-size: cover;
    pointer-events: none;
}

hr {
    background-color: purple;
    height: 3px;
    border: none;
    width: 97%;
    margin-top: 20px;
}


.button-85 {
    /*//https://getcssscan.com/css-buttons-examples*/
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 5px;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: purple;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#work-area {
    flex-wrap: wrap;
    padding-top: 20px;
    transition: transform .5s ease;
    width: 90%;
    margin: auto;
    text-align: center;
}

.poster {
    background: black;
    display: inline-block;
    width: 180px;
    height: auto;
    margin-bottom: 15px;
    /* Separation between posters */
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
    border: 2px solid #f4effa;
    margin-left: 10px;
    overflow-x: hidden;

}

p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.poster:hover {
    transform: scale(1.1);
}

.poster-click {
    width: 180px;
    height: 250px;
}

.title-box {
    max-width: 10%;
}



#genres {
    width: 100%;
    display: flex;
    justify-content: center;
}

.genre {
    background: purple;
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.genre:hover {
    zoom: 120%;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.title-box {
    max-width: 10%;
}


.button-86 {
    /*//https://getcssscan.com/css-buttons-examples*/
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 5px;
}

.button-86:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-86 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-86:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: purple;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-86.active {
    font-weight: bold;
    text-decoration: underline;
}

