
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

body {
    width: 100%;
    background: black;
    color: white;
	overflow-x: hidden;
}

img {
    width: 100%;
}


/* ------- Navigation Bar ------- */

.logo {
    width: 200px;
    min-width: 175px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 5px;
	float: left;	
}

.nav {
    background-color: #333333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
	height: 80px;
    font-size: 20 px;
    font-weight: bold;
    z-index: 2;
}

.nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 15px;
}

.main-links {
	display: inline-block;
	line-height: 80px;

}

.nav a:hover {
    color: purple;
}

#bell {
	display: inline-block;
	line-height: 80px;
	width: 50px;
	height: 50px;
	margin-right: auto;
	padding-top: 10px;
	padding-right: 50px;
}

.icon-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	color: #333333;
	background: #dddddd;
	border: none;
	outline: none;
	border-radius: 50%;
}

.icon-button:hover {
	cursor: pointer;
}

.icon-button:active {
	background: #cccccc;
}

.icon-button__badge {
	position: absolute;
	top: 0px;
	right: -10px;
	width: 25px;
	height: 25px;
	background: red;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.hide {
	display: none;
}

.account ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #333333;
}

.account li {
	display: inline-block;
}

.account li a {
	color: white;
	display: block;
	text-decoration: none;
}

/* Style the dropdown menu */
.account ul ul {
	position: absolute;
	top: 100%;
	display: none;
}

.account ul ul li {
	display: block;
}

.account li:hover ul {
	display: block;
}

/* Change the background color of dropdown links on hover */
.account ul ul li a:hover {
	background-color: #555;
}


.main-links {
    float: left;
}

.account {
	float: right;
	margin-right: 10px;
	width: 150px;
}


/* ------- Main Content  ------- */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    border: none;
}

/* ------- Left side banner  ------- */

.leftImage {
    width: 20%;
    position: fixed;                        /* Currently Zenitsu from Demon Slayer. May change it to something else! */
    bottom: 1%;
    left: 3%;
}

/* ------- Right side banner  ------- */

.rightImage {
    width: 30%;
    position: fixed;                        /* Currently Tanjiro from Demon Slayer. May also change it to something else! */
    right: 0%;
    top: 8%;
}

/* ------- Center Div, Holds All Search Content  ------- */

.main {
    background: #242924;
    color: white;
    border: 2px solid white;         /* <----- Remove this once you've styled the rest of the page. */
    width: 60%;                        /* I pretty much only put the border there so you can separate the content from the background." */
    margin: auto;
    top: -5%;
    z-index: 1;
    position: relative;
}

.main h2 {
    margin-left: 20px;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: bold;
}

.display-name {
    margin-left: 50px;
    padding: 0;
}

hr {
    background-color: purple;
    height: 3px;                                /* Horizontal line and style */
    border: none;
    width: 95%;
}

.image-box {
    width: 20%;
    margin: 50px;
    display: inline-block;
}

.user-info {
    border: 2px double silver;
    background: purple;
    border-radius: 10px;;
    width: 60%;
    height: fit-content;
    position: absolute;
    display: inline-block;
    margin: 50px 30px;
    padding: 5px;
}

.user-info ul {
    list-style: none;
}

.user-info p {
    margin: 30px;
}

.bottom-half {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;;
}

.favorite-list {
    border: 2px double purple;
    width: 40%;
    margin: auto;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.favorite-list h4 {
    text-align: center;
}
.friend-list {
    border: 2px double purple;
    width: 40%;
    margin: auto;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.friend-list h4 {
    text-align: center;
}

.reviews {
    border: 2px double purple;
    width: 40%;
    height: inherit;
    margin: auto;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 0%;
    text-align: center;
}

.review-button {
    background: purple;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 20px;
}
.updateProfileBtn {
    background: white;
    color: purple;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    width: 50%;
    height: 20px;
}

